* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  background: #f1f1f1;
}

/* Typography */
@font-face {
  font-family: "Apercu";
  src: local("Apercu"), url("./fonts/apercu-regular.woff") format("woff");
}

@font-face {
  font-family: "Domaine Display";
  src: local("Domaine Display"),
    url("./fonts/domaine-display-web-regular.woff") format("woff");
}
* {
  font-family: "Apercu", "Inter", "Helvetica", "Arial", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Domaine Display", serif;
}

/* Structure */
.container {
  /* background: red; */
  position: absolute;
  width: 100%;
  max-width: 600px;
  padding: 0 1rem 8vh;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* multipleChoiceBudgetQuestion */
.budget-question-box {
  display: flex;
  width: 100%;
  gap: 8px;
  flex-direction: row;
}
.budget-question-box > div {
  flex: 1;
}
@media screen and (min-width: 600px) {
  .budget-question-box > div {
    max-width: calc(33% - 4px);
  }
}

/* radioBox */
.radio-button {
  background: #fff;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid rgb(172, 184, 172);
  transition: background-color 150ms ease 0s;
}
.radio-button.selected,
.radio-button:hover {
  background: rgb(226, 235, 226);
}
